## Convert to CSV File

In [1]:
#import pandas as pd
#import re
#import csv

In [2]:
#tweets = []
#labels = []
#with open('train_preprocess.tsv.txt', 'r') as file:
    #for text in file:
        #splits = text.strip().split("\t")
        #tweet = splits[0]
        #label = splits[1]
        #tweets.append(tweet)
        #labels.append(label)

In [3]:
#df = pd.DataFrame({"tweets":tweets, "labels":labels})

In [4]:
#df

In [5]:
#df.to_csv('train_preprocess.csv', index=False)

## Cleansing Duplikasi Data

In [6]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import re
from collections import Counter

In [7]:
df = pd.read_csv('train_preprocess.csv')

In [8]:
df

                                                  tweets    labels
0      warung ini dimiliki oleh pengusaha pabrik tahu...  positive
1      mohon ulama lurus dan k212 mmbri hujjah partai...   neutral
2      lokasi strategis di jalan sumatera bandung . t...  positive
3      betapa bahagia nya diri ini saat unboxing pake...  positive
4      duh . jadi mahasiswa jangan sombong dong . kas...  negative
...                                                  ...       ...
10995                                       tidak kecewa  positive
10996  enak rasa masakan nya apalagi kepiting yang me...  positive
10997        hormati partai-partai yang telah berkoalisi   neutral
10998  pagi pagi di tol pasteur sudah macet parah , b...  negative
10999  meskipun sering belanja ke yogya di riau junct...  positive

[11000 rows x 2 columns]

**Menambahkan Unique ID**

In [9]:
df['id'] = range(1, len(df)+1)

In [10]:
df

                                                  tweets    labels     id
0      warung ini dimiliki oleh pengusaha pabrik tahu...  positive      1
1      mohon ulama lurus dan k212 mmbri hujjah partai...   neutral      2
2      lokasi strategis di jalan sumatera bandung . t...  positive      3
3      betapa bahagia nya diri ini saat unboxing pake...  positive      4
4      duh . jadi mahasiswa jangan sombong dong . kas...  negative      5
...                                                  ...       ...    ...
10995                                       tidak kecewa  positive  10996
10996  enak rasa masakan nya apalagi kepiting yang me...  positive  10997
10997        hormati partai-partai yang telah berkoalisi   neutral  10998
10998  pagi pagi di tol pasteur sudah macet parah , b...  negative  10999
10999  meskipun sering belanja ke yogya di riau junct...  positive  11000

[11000 rows x 3 columns]

**Check Unique Values**

In [11]:
df.nunique()

tweets    10933
labels        3
id        11000
dtype: int64

**Check Duplikasi**

In [12]:
df.duplicated('tweets').sum()

67

In [13]:
Counter(df['id']) == Counter(df['tweets'])

False

In [14]:
df.loc[df.duplicated('tweets')].sort_values(by='tweets', ascending=True)

                                                  tweets    labels     id
6078   aman gemstone menyediakan berbagai cincin / pe...   neutral   6079
2616                                           apresiasi  positive   2617
10950  bank bca di pgc payah sekali pelayanan nya . j...  negative  10951
3811   banyak masyarakat yang tidak kecewa dengan kep...  positive   3812
5184   beli kaos , topi atau jam tangan di lapak mono...   neutral   5185
...                                                  ...       ...    ...
8929                                         tidak malas  positive   8930
8913                                         tidak marah  positive   8914
7083                                      tidak menyesal  positive   7084
9636                                        tidak senang  negative   9637
9769   wow iya kok hitam mental mahal amat ya kenapa ...  negative   9770

[67 rows x 3 columns]

In [15]:
df = df.drop_duplicates('tweets')

In [16]:
df.duplicated('tweets').sum()

0

In [17]:
df.nunique()

tweets    10933
labels        3
id        10933
dtype: int64

## Cleansing Punctuation Data

**Membuat Fungsi Baru Untuk Process Text**

In [18]:
def preprocessing_text(text):
    text = text.replace("\\n", " ")
    text = re.sub(r"(#)(.*)()", r"", text)
    text = re.sub(r"[!\"#$%&'()*+-./:;<=>?@[\]^_`{|}~]", r"", text)
    text = re.sub(r"(\s)(\1+)", r"\1", text)
    text = re.sub(r"([a-z])(\1{3,})", r"\1\1", text)
    text = re.sub(r"(\\x)([a-z0-9]{2})", r"", text)
    text  = re.sub(r"(\\x8)", r"", text)
    text = text.lower()
    text = text.strip()
    return text

In [19]:
for idx, x in enumerate(df.tweets.values):
    if idx <= 10:
        print(preprocessing_text(x))
        print("")

warung ini dimiliki oleh pengusaha pabrik tahu yang sudah puluhan tahun terkenal membuat tahu putih di bandung tahu berkualitas dipadu keahlian memasak dipadu kretivitas jadilah warung yang menyajikan menu utama berbahan tahu ditambah menu umum lain seperti ayam semuanya selera indonesia harga cukup terjangkau jangan lewatkan tahu bletoka nya tidak kalah dengan yang asli dari tegal

mohon ulama lurus dan k212 mmbri hujjah partai apa yang harus diwlh agar suara islam tidak pecahpecah

lokasi strategis di jalan sumatera bandung tempat nya nyaman terutama sofa di lantai 2 paella nya enak sangat pas dimakan dengan minum bir dingin appetiser nya juga enakenak

betapa bahagia nya diri ini saat unboxing paket dan barang nya bagus menetapkan beli lagi

duh jadi mahasiswa jangan sombong dong kasih kartu kuning segala belajar dulu yang baik tidak usahlah ikutikut politik nanti sudah selesai kuliah nya mau ikut politik juga tidak telat dasar mahasiswa

makanan beragam harga makanan di food stall akan ditambahkan 10 lagi di kasir suasana ramai dan perlu perhatian untuk mendapatkan parkir dan tempat duduk

pakai kartu kredit bca tidak untung malah rugi besar

tempat unik bagus buat foto makanan enak pegawai ramah bersih dan luas wifi kencang harga standar dan sesuai dengan tempat nya ada menu masakan makanan barat dan indonesia menu favorit lychee mojito dan spagheti

saya bersama keluarga baru saja menikmati pengalaman kuliner yang menyenangkan di rm sari sunda di jalan setiabudhi bandung tapi karena tidak ada hubungan untuk rm sari sunda di jalan setiabudhi maka saya tuliskan di sini jadi maaf jika rekanrekan pembaca ada yang bingung beberapa hal yang saya suka dari restoran ini adalah bahwa pelayanan restoran ini terbilang cepat

bersyukur

simcard indosat inaktiv garagara lupa isi pulsa dan kabar nya aktif jika pinda ke pasca bayar ribet banget

**Membuat Tabel Baru Berisi Text yang Sudah di Cleansing**

In [20]:
df['cleaned_tweets'] = df['tweets'].apply(lambda x: preprocessing_text(x))

C:\Users\crire\AppData\Local\Temp\ipykernel_30640\1952476418.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['cleaned_tweets'] = df['tweets'].apply(lambda x: preprocessing_text(x))

In [21]:
df

,tweets,labels,id,cleaned_tweets
0,warung ini dimiliki oleh pengusaha pabrik tahu...,positive,1,warung ini dimiliki oleh pengusaha pabrik tahu...
1,mohon ulama lurus dan k212 mmbri hujjah partai...,neutral,2,mohon ulama lurus dan k212 mmbri hujjah partai...
2,lokasi strategis di jalan sumatera bandung . t...,positive,3,lokasi strategis di jalan sumatera bandung tem...
3,betapa bahagia nya diri ini saat unboxing pake...,positive,4,betapa bahagia nya diri ini saat unboxing pake...
4,duh . jadi mahasiswa jangan sombong dong . kas...,negative,5,duh jadi mahasiswa jangan sombong dong kasih k...
...,...,...,...,...
10993,f - demokrat dorong upaya kemandirian energi n...,neutral,10994,f demokrat dorong upaya kemandirian energi nas...
10994,tidak bosan,positive,10995,tidak bosan
10996,enak rasa masakan nya apalagi kepiting yang me...,positive,10997,enak rasa masakan nya apalagi kepiting yang me...
10998,"pagi pagi di tol pasteur sudah macet parah , b...",negative,10999,pagi pagi di tol pasteur sudah macet parah bik...
10999,meskipun sering belanja ke yogya di riau junct...,positive,11000,meskipun sering belanja ke yogya di riau junct...

## Model Preparation (Feature Extraction)

**Data Split untuk Train dan Validation**

In [22]:
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import precision_recall_fscore_support, accuracy_score
from sklearn.preprocessing import LabelEncoder

In [23]:
train, test = train_test_split(df, test_size=0.2, random_state=0)
#test size yang digunakan adalah 0,2 untuk mendapatkan data train dan test dengan perbandingan 80:20

In [24]:
train

,tweets,labels,id,cleaned_tweets
3049,menyajikan macam-macam makanan jepang yang seg...,positive,3050,menyajikan macammacam makanan jepang yang sega...
6416,"tempat yang asri sekali , makanan nya enak unt...",positive,6417,tempat yang asri sekali makanan nya enak untuk...
4638,kami dan keluarga heran di bandung itu setiap ...,positive,4639,kami dan keluarga heran di bandung itu setiap ...
384,untuk rasa biasa saja tidak membuat saya terke...,negative,385,untuk rasa biasa saja tidak membuat saya terke...
7757,"baru saja kami sekeluarga makan di congo , ber...",positive,7758,baru saja kami sekeluarga makan di congo berma...
...,...,...,...,...
4872,aqua adalah merek air mineral favorit ku,positive,4873,aqua adalah merek air mineral favorit ku
3271,buat dipakai jadi kacamata baca juga asik dan ...,positive,3272,buat dipakai jadi kacamata baca juga asik dan ...
9902,terkuat,positive,9903,terkuat
10860,kita dapat pemandangan yang cukup lepas berada...,positive,10861,kita dapat pemandangan yang cukup lepas berada...
2737,aku tidak pernah jenuh dengan setiap keputusan...,positive,2738,aku tidak pernah jenuh dengan setiap keputusan...

In [25]:
tfidf = TfidfVectorizer()

In [26]:
X_train = tfidf.fit_transform(train['cleaned_tweets'])
X_test = tfidf.transform(test['cleaned_tweets'])

**Prediksi Akurasi Model**

In [27]:
lr = LogisticRegression()

In [28]:
lr.fit(X_train, train['labels'])

C:\Users\crire\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\linear_model\_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [29]:
y_pred = lr.predict(X_test)
print(precision_recall_fscore_support(y_pred=y_pred, y_true=test['labels'], average='macro'))
print(accuracy_score(y_pred=y_pred, y_true=test['labels']))

(0.860462504036231, 0.8123939676534606, 0.8317448061253215, None)
0.8710562414266118

In [30]:
from tensorflow.keras.preprocessing.text import Tokenizer
from tensorflow.keras.preprocessing.sequence import pad_sequences

In [31]:
max_features = 100

In [32]:
tknzr = Tokenizer(num_words=max_features, split=' ', lower=True)

In [33]:
X_train = tknzr.fit_on_texts(train['cleaned_tweets'])
X_train = tknzr.texts_to_sequences(train['cleaned_tweets'])
X_train = pad_sequences(X_train, maxlen=max_features)

X_test = tknzr.texts_to_sequences(test['cleaned_tweets'])
X_test = pad_sequences(X_test, maxlen=max_features)

**Memeriksa data Overfitting**

In [34]:
from imblearn.over_sampling import SMOTE

ModuleNotFoundError: No module named 'imblearn'

In [35]:
smote = SMOTE()

NameError: name 'SMOTE' is not defined

In [56]:
Counter(train['labels'])

Counter({'positive': 5121, 'negative': 2723, 'neutral': 902})

In [57]:
X_train, y_train = smote.fit_resample(X_train, train['labels'])

In [58]:
Counter(y_train)

Counter({'positive': 5121, 'negative': 5121, 'neutral': 5121})

**Mengubah Categorical Variables menjadi Numerical Values Pada Label**

In [59]:
from tensorflow.keras.utils import to_categorical

In [60]:
lb = LabelEncoder()

In [61]:
y_train_encoded = to_categorical(lb.fit_transform(y_train))
y_test_encoded = to_categorical(lb.transform(test['labels']))

In [62]:
y_train_encoded.shape

(15363, 3)

In [63]:
X_train.shape

(15363, 100)

In [115]:
y_test_encoded.shape

(2187, 3)

In [65]:
X_test.shape

(2187, 100)

## Model Training ##

In [48]:
import tensorflow as tf

In [84]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, Embedding, LSTM, SpatialDropout1D
from tensorflow.keras import optimizers
from tensorflow.keras.callbacks import EarlyStopping, TensorBoard
from tensorflow.keras.layers import Flatten
from tensorflow.keras import backend as K
from tensorflow.keras import layers
from tensorflow.keras.utils import plot_model

In [66]:
tknzr.num_words

100

In [69]:
embed_dim = 512
maxlen = 1000

model = Sequential()
model.add(Embedding(input_dim=(tknzr.num_words), output_dim=embed_dim, input_length=max_features ))
model.add(LSTM(256))
model.add(Dense(128, activation='relu'))
model.add(Dense(64, activation='relu'))
model.add(Dense(3, activation='softmax'))

In [70]:
model.compile(loss='categorical_crossentropy', optimizer='adam', metrics=['accuracy'])
print(model.summary())

es = EarlyStopping(monitor='val_loss', mode='min', verbose=1)

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 embedding_1 (Embedding)     (None, 100, 512)          51200

 lstm_1 (LSTM)               (None, 256)               787456

 dense_3 (Dense)             (None, 128)               32896

 dense_4 (Dense)             (None, 64)                8256

 dense_5 (Dense)             (None, 3)                 195

=================================================================
Total params: 880,003
Trainable params: 880,003
Non-trainable params: 0
_________________________________________________________________
None

In [71]:
tf.config.run_functions_eagerly(True)

In [72]:
history = model.fit(X_train, 
                    y_train_encoded, 
                    epochs=10, 
                    batch_size=20, 
                    validation_data=(X_test, y_test_encoded), 
                    verbose=1, 
                    callbacks=[es])

C:\Users\Risky Maulana\AppData\Roaming\Python\Python311\site-packages\tensorflow\python\data\ops\structured_function.py:254: UserWarning: Even though the `tf.config.experimental_run_functions_eagerly` option is set, this option does not apply to tf.data functions. To force eager execution of tf.data functions, please use `tf.data.experimental.enable_debug_mode()`.
  warnings.warn(

Epoch 1/10
769/769 [==============================] - 819s 1s/step - loss: 0.6868 - accuracy: 0.7081 - val_loss: 0.6585 - val_accuracy: 0.7439
Epoch 2/10
769/769 [==============================] - 814s 1s/step - loss: 0.6264 - accuracy: 0.7399 - val_loss: 0.5510 - val_accuracy: 0.7732
Epoch 3/10
769/769 [==============================] - 853s 1s/step - loss: 0.5942 - accuracy: 0.7521 - val_loss: 0.5258 - val_accuracy: 0.7714
Epoch 4/10
769/769 [==============================] - 784s 1s/step - loss: 0.5625 - accuracy: 0.7627 - val_loss: 0.5250 - val_accuracy: 0.7897
Epoch 5/10
769/769 [==============================] - 780s 1s/step - loss: 0.5279 - accuracy: 0.7818 - val_loss: 0.5523 - val_accuracy: 0.7695
Epoch 5: early stopping

## Model Prediction ##

In [73]:
model_predict = model.predict(X_test)

69/69 [==============================] - 27s 373ms/step

In [74]:
model_predict

array([[2.2142121e-04, 2.0167226e-06, 9.9977654e-01],
       [1.7675197e-01, 8.0870008e-01, 1.4547927e-02],
       [4.0124080e-01, 9.4584823e-03, 5.8930075e-01],
       ...,
       [1.3549669e-02, 5.6858850e-04, 9.8588169e-01],
       [9.9261606e-01, 6.7763194e-03, 6.0767477e-04],
       [5.9552379e-03, 1.3351407e-04, 9.9391127e-01]], dtype=float32)

In [75]:
model_predict = np.argmax(model_predict,axis=1)

In [76]:
model_predict

array([2, 1, 2, ..., 2, 0, 2], dtype=int64)

In [77]:
y_true = lb.transform(test['labels'])

In [78]:
accuracy_score(y_pred=model_predict, y_true=y_true)

0.7695473251028807

In [79]:
precision_recall_fscore_support(y_pred=model_predict, y_true=y_true, average='macro')

(0.705444312188993, 0.7578213505467923, 0.7193846157352951, None)

## Testing Kalimat ##

In [120]:
testing_kalimat = "USER USER AKU ITU AKU\n\nKU TAU MATAMU SIPIT TAPI DILIAT DARI MANA ITU AKU"

In [121]:
def input_data(text):
    new_X_val = [text]
    new_X_val = tknzr.texts_to_sequences(new_X_val)
    new_X_val = pad_sequences(new_X_val, maxlen=max_features)
    new_y_pred = model.predict(new_X_val)
    new_y_pred = np.argmax(new_y_pred, axis=1)
    new_y_pred = lb.inverse_transform(new_y_pred)
    return new_y_pred[0]

In [122]:
result = input_data(testing_kalimat)

C:\Users\Risky Maulana\AppData\Roaming\Python\Python311\site-packages\tensorflow\python\data\ops\structured_function.py:254: UserWarning: Even though the `tf.config.experimental_run_functions_eagerly` option is set, this option does not apply to tf.data functions. To force eager execution of tf.data functions, please use `tf.data.experimental.enable_debug_mode()`.
  warnings.warn(

1/1 [==============================] - 2s 2s/step

In [123]:
print("Sentiment:")
print()
print(result)

Sentiment:

negative

## Pickle Function

In [103]:
import pickle

In [104]:
pickle.dump(tknzr, open('tokenizer_lstm.pkl', 'wb'))

In [105]:
pickle.dump(model, open('model_lstm.pkl', 'wb'))